* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 100px;
}
.imgDemo {
  /* float: left; */
  /* float: right; */
}
.wrap {
  width: 400px;
}
.ball1,
.ball2 {
  width: 100px;
  height: 100px;
}
.ball1 {
  background-color: aqua;
  /* width: 300px;  */
}
.ball2 {
  background-color: red;
}
