* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 100px;
}
/* thằng nào cao hơn thì khi clear thằng đó mới được */
.box1 {
  background: #f3f3cf;
  float: left;
  height: 300px;
  width: 300px;
}
.box2 {
  background: #e0e0fc;
  height: 300px;
  float: right;
}
p {
  clear: right;
}
